body{
    background-image:url('baaaaka.png');
    image-rendering: pixelated;
    background-size: 100px;
    animation: scroll 3s linear infinite;
    font-size: x-large;
}
@keyframes scroll{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -100px -200px;
    }
}
.box{
    border-width: 2px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    padding: 4px;
    width: fit-content;
    height: fit-content;
}
h1{
    margin: 0;
    padding: 5px;
    font-family:Verdana;
}
h2{
    margin: 0;
    padding: 5px;
    font-family:Verdana;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.left{
    width: fit-content;
}
.right {
    margin-left: auto;
    margin-right: 0;
    max-width: 700px;
  }
.grid{
    display: grid;
    grid-auto-flow: column;
    font-size: 100%;
    font-family: 'Comic Sans MS';

}